:root {
    --primary-text-coler: #212121; 
    --title-text-coler: #757575;
    --accent-coler: #2196F3;
    --primary-withe-color : #ffffff;
}


ul{
    list-style: none;
}

body{
    background-color:#FFFFFF ;
    color: var(--primary-text-coler);
}
    

<!--Шапка проекта Webstudio-->
.logo{
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo:hover
.logo:focus{
color: #2196F3; 
}

.logo-color{
color:  #2196F3; 
}

