:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
    --primary-bg-color-filter: #f5f4fa;
    --prinary-font-family: "Roboto", sant-serif;
  }
  
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--prinary-font-family);
    letter-spacing: 0.03em;
  }

  .list{
    list-style: none;
   }
 
   .link{
     text-decoration: none;
   }

/* Шапка проекта Webstudio*/
.logo-color{
color: var( --accent-color);
}

.logo{
  color: #000000;
  font-family: "Raleway", sant-serif;
  font-weight: bold;
} 
.footer-logo{
  color: var(--primary-bg-color);
}

.site-nav .site-link.current {
    color: var(--accent-color);

  }

  .site-nav .site-link {
    color: var(--secondary-text-color);
  }
  
  .site-nav .site-link:hover,
  .site-nav .site-link:focus {
    color: var(--accent-color);
  }

  
  .contact-link {
    color: var(--primary-text-color);
  }
  
  .contact-link:hover,
  .contact-link:focus {
    color: var(--accent-color);
  }

  /* Секция героя */

  .button {
    background-color: var(--accent-color);
    color: #ffffff;
    
  }
  
  .button:hover
  .button:focus{
    background-color: #188ce8;
  }
  


  /* секция будушего */
  
  
.features-list .title {
 color: var(--secondary-text-color);
 
}
.title-features{
font-family: Roboto;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--secondary-text-color);
}


/* cекция */

.section .section-title {
    color: var(--secondary-text-color);
    text-align: center
}

/* Командная секция */

.team-list .title {
    color: var(--secondary-text-color);
  }

  .team-section{
    background-color: #F5F4FA;
  }
  /* Футер */
 .footer{
background-color:#2F303A; ;
}

  .footer-link {
    color: var(--primary-bg-color);
  }
  
  .footer-link:hover,
  .footer-link:focus {
    color: var(--accent-color);
  }
  
  .footer .address {
    font-style: normal;
  }

  /* портфолио */
  
.filter-btn {
  background-color: var(--primary-bg-color-filter);
  color: var(--secondary-text-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.work-list .title {
  color: #000000;}

  .filter .filter-btn.current{
    background-color: var(--accent-color) ;
  }
  
.work-title{
font-family: Roboto;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color:var(--secondary-text-color);
}

/* оформление текста */
.hero-title {
  font-family: var(--prinary-font-family);   
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: #FFFFFF;
  }
  
  .hero {
    background-color: #2F303A;
    text-align: center;
  }


.title {
  text-align: center
}
 
.profession {
  text-align: center
}
.footer{
  background-color: #2F303A;
}

.